h1{color: green; font-size: xx-large; 
    font-style: oblique;
    font-style: italic;
    text-decoration: underline; 
    font-family:Arial, serif;}
tr{color: brown;}
p{color: aliceblue; text-transform: uppercase;}
h2{color: aliceblue;}
img{height: 40px; width: 40px;display: inline;}